h1{
    text-align: center;
}
.container{
    border: 2px solid black;
    text-align: center;
    height: 600px;
    width: 500px;
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* align-content: space-between; */
.elements{
    border: 2px solid black;
    height: 100px;
    width: 150px;
    /* display: inline-block; */
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: pink;
}
#box3{
    background-color: lightgreen;
}
#box4{
    background-color: coral;
}
#box5{
    background-color: blueviolet;
}