*{
    text-transform: capitalize;
    background-color: #eee5e9;
    font-family: cursive;
    color: #000
}
h1{
    text-align: center;
}
button{
    background-color: #12729e;
}

div{
    background-color:  #7c7c7c
    ;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 380px;
    height: auto;
    margin: 0 auto;
    border-radius: 12%;
}
input{
    background-color: #12729e;
}